
.logo {
    display: flex;
    margin: auto;

}
.navigation {
    justify-content: center;
    margin: auto;
}


.mainNav ul, .mainNavInactive ul {
    list-style-type: none;
    display: flex;
    gap: 100px;
}

.mainNav li, .mainNavInactive li {
    font-weight: 500;
}

.mainNav.active ul {
    flex-direction: column;
    text-align: center;
  }

.mainNavInactive {
    opacity: 0.6;
}

.mainNav, .navIcons :hover {
    cursor: pointer;
}

header {
    display: flex;
    margin: auto;
  
}

.navIcons {
    display: flex;
    margin: auto;
    gap: 15px;

}

.hamburgerImgClosed, .hamburgerImg {
    display: none;
}

.menu {
    display: none;
  }


  @media only screen and (max-width: 480px) {

    header {
        justify-content: space-between;
    }

    .menu {
      display: block;
    }
  
    .mainNav {
      display: none; 
    }
  
    .mainNav.active {
      display: flex; 
      flex-direction: column;
      background-color: #F4C6D4;
    }  
  
    .hamburgerImg {
      display: block;
      align-self: flex-start;
    }

    .hamburgerImgClosed {
        display: none; 
      }
    
      .hamburgerImgClosed.active {
        display: block; 
      }

      .logo {
        order: 2;
        display: flex;
        margin: auto;
        align-self: center;
    }

    .hamburgerImg, .hamburgerImgClosed {
        order: 1;
        background-color: transparent;
    }

    .navIcons{
        order: 3;
    }
}
