
.logo {
    display: flex;
    margin: auto;

}
.navigation {
    justify-content: center;
    margin: auto;
}


.mainNav ul, .mainNavInactive ul {
    list-style-type: none;
    display: flex;
    gap: 100px;
}

.mainNav li, .mainNavInactive li {
    font-weight: 500;
}

.mainNavInactive {
    opacity: 0.6;
}

.mainNav, .navIcons :hover {
    cursor: pointer;
}

header {
    display: flex;
    margin: auto;
  
}

.navIcons {
    display: flex;
    margin: auto;
    gap: 15px;

}

.hamburgerImgClosed, .hamburgerImg {
    display: none;
}

.menu {
    display: none;
  }


  @media only screen and (max-width: 480px) {

    .menu {
      display: block;
    }
  
    .mainNav {
      display: none; 
    }
  
    .mainNav.active {
      display: flex; 
      flex-direction: column;
    }  
  
    .hamburgerImg {
      display: block;
    }

    .hamburgerImgClosed {
        display: none; 
      }
    
      .hamburgerImgClosed.active {
        display: block; 
      }
}
  
